<%- include("../../partials/header", { title : "Signup Page", style : "connexion" }) %>
	<H1>Signup page</H1>
	<form class="form" action="" method="post">
		<%- include("../components/input", { type : "text", name : "username" }) %>
		<%- include("../components/input", { type : "email", name : "email" }) %>
		<%- include("../components/input", { type : "password", name : "password" }) %>
		<button type="submit">Signup</button>
	</form>
<%- include("../../partials/footer") %>
